.contenedor__acercaDeMi{
    grid-area: acercaDeMi;
    display: grid;
    justify-items: center;
    align-items: center;
    gap: 10px;
    
    padding: 10px;
    width: 60vw;
    margin: 100px 0;
    margin-left: 20vw;
    margin-right: 20vw;
    
    text-align: center;
    font-size: 1.5rem;
    
    background-color: var(--color-secciones);
    
}
.title__acercaDeMi{
    font-size: var(--font-size-subtitle);
    text-align: center;
    border-bottom: 5px solid #000;
}

.acercaDeMi__txt,
p{
    font-size:var(--font-size-text);
    text-align: center;
    padding: 0 20px;
}
.video{
    width: 25rem;
    margin: 20px;
}
.video> video{
    width: 18.75rem;
}


