.contenedor__acercaDeMi{
    grid-area: acercaDeMi;
    width: 70%;
    display: grid;

    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3; 

    justify-content: center;
    align-items: center;

    margin-left: auto;
    margin-right: auto;
}


.acercaDeMi__txt {
    font-size:var(--font-size-text);
    width: 100%;
    text-align: center;
    padding:10px;
}
.video{
    width: 50%;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
}


