.contendorEducacion{
    grid-area: educacion;
    position: relative;
    left: 0;
    right: 0;
    z-index: 900;
    width: 80%;
    background-color: var(--color-secciones);
    margin: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor__certificados fieldset> table{
    width: 100%;
    padding: 10px 0;
}

.contenedor__certificadsos fieldset> ul li{
    margin: auto;
    padding: 10px;
    list-style: none;
}
.btn_educacion{
    position: absolute;
    bottom: 0;
    right: 0;
    
    margin-top: 10px;
}
/*medias querys*/
@media screen and (max-width:800px) {
    
}