/*encabezado perfil foto titulo */
.encabezado{
    grid-area: encabezado;
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;

    width: 100%;
    margin-left: auto;
    margin-right: auto;
    
    justify-content: space-around;
    align-items: first baseline;
}
.contenedor__fotoPerfil{
    max-width: 500px;
    padding: 0;
    margin-top: auto;
    margin-bottom: auto;
}
.fotoperfil{
    width: 100em;
    cursor: pointer;
    transform: all .3s ease-in-out;
}
.fotoperfil:hover{
transform: scale(1.2) rotate(20deg);

}
.tituloPrincipal{
    width:90%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: var(--color-principal);
    text-align: end;
    font-size: 1rem;
    font-style: italic;
    font-weight: 600;
}

.hola{
    
    /* font-size: 2.5rem; */
    transition: all 1s ease;
    cursor: pointer;
}
.hola:hover{
    translate: -100px;
    transform-style: flat;
    color: chartreuse;
}

.subtitulo{
    font-size: 2.5rem;
};

.nombre{
    font-size:3.75rem;
}



/* tecnologias*/
.contenedorTecnologias{
    width: 100%;
    height: 45px;
    margin-bottom: 0;
    background-color:var(--color-transp );
    display: flex;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

.logo-tec{
    width: 1em;
    /* padding-left: 10px; */
    margin: 0 auto ;
}


/*medias querys*/
@media screen and (max-width:500px) {
    .contenedorPerfil{
        /* position: relative; */
        top: 50vh;
    }
    .contenedorPerfil {
        display: none;
    }

}