/* footer*/

.footer{
    grid-area: footer;

    max-width: var(--ancho-secciones);
    margin-left:2.19em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 10px;
    padding-bottom: 5px;

    /* background-color:var(--color-fondo-footer); */
}






