 /* ******************************************* */
.proyecto_contenedor-tecnologias{
    /* background: #000; */
    width: 100%;
    padding: 20px;

    display: flex;
    justify-content: space-around;
}
.proyecto_contenedor-tecnologias img{
    width: 40px;
    height: 40px;
}




.contenedorProyectos {
    grid-area: proyectos; 
    width: var(--ancho-contenedorPrincipal);
    margin-left: 30px;
}

.proyectos{
    /* background-color: #fff; */
    width: inherit;

    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    /* align-content: space-around; */
    gap: 15px;
    padding: 5px;
    }
    .proyecto{
        width: 100%;
        /* margin: 10px; */
        /* padding: 0 10px 0 10px; */

/* 
        border: 5px solid var(--color-menu);
        border-radius: 25px;
        box-shadow: 0px 0px 70px rgba(29, 26, 26, 0.2); */

    }

/* proyecto1 */
    .proyecto1{
    background-color:var(--color-secciones);
    
    }
    .cabeceraProyecto{
        text-align: end;
        font-size: 2rem;
        padding-right: 100px;
        padding-top: 1px;
    }
    .cuerpoProyecto1{
        width: 100%;
        display: grid;
        grid-template-columns: 55% 40% ;
        justify-content: space-between;
        gap: 5px;
        /* margin-left: 5px; */
    }
    .contenedor_Video_demo1 video{
        background-color: var(--color-menu);
        object-fit: cover;
        object-position: 100% 0%;

        text-align: center;
        padding: auto;
        margin-top: 5%;
        margin-left: 50px;
        width: 100%;
        padding:10px ;
        padding-top: 20px;

        
        border: 15px solid var(--color-menu);
        border-radius: 25px;
        box-shadow: 0px 0px 70px rgba(29, 26, 26, 0.2);
    }
    
    .descripcionProyecto  {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: space-between;    
        padding: 5px;
        width: 100%;
    }
    .contenedor_textoProyecto {
        width: 100%;
        text-wrap: pretty;
        /* margin: 5px 0 5px 0; */

        padding: 10px;

        border: 1px solid var(--color-menu);
        border-radius: 25px;
        box-shadow: 0px 0px 70px rgba(29, 26, 26, 0.2);
    }

/* proyecto2 */
    .proyecto2{
        background-color: burlywood;
    }

    .cuerpoProyecto2{
        width: 100%;
        display: grid;
        grid-template-columns: 40% 55% ;
        justify-content: space-between;
        gap: 5px;
        /* margin-left: 5px; */
    }
    .contenedor_Video_demo2 video{
        background-color: var(--color-menu);
        object-fit: cover;
        object-position: 100% 0%;

        text-align: center;
        padding: auto;
        margin-top: 5%;
        margin-right: 50px;
        width: 100%;
        padding:10px ;
        padding-top: 20px;

        
        border: 15px solid var(--color-menu);
        border-radius: 25px;
        box-shadow: 0px 0px 70px rgba(29, 26, 26, 0.2);
    }
    


    /* proyecto3 */
    .proyecto3{

        background-color: chartreuse;
    }
    

    /* ******************otros proyectos************************* */
    .otrosProyectos{
        display: grid;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .otrosProyectos button{
        margin-left: 40%;
    }

    .contenedor-otrosProyectos{
        position: relative;
        top: 20%;
        /* bottom: 0; */
        z-index: 999;
    }

    .footer-otrosProyectos{
        position: relative;
        bottom: 100;
        z-index: 999;
    }
    




    
    
    
    /* @media screen {(max-width:  800px;)
        .contenedor__acercaDeMi{}
    }
     */