

:root{
    --font-principal:@import url('https://fonts.googleapis.com/css2? family= Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,700;1,900 & display=swap');
    
    --font-size:16px;
    --font-size-title:1.7rem;
    --font-size-subtitle:1.5rem;
    --font-size-text:1rem;
    
    --font-color-principal:rgb(178, 237, 239);
    --font-color-blanco:rgb(255, 255, 255);
    --color-font-oscuro:#000;
    --color-fondo-oscuro:#203c60;

    --color-secciones:rgba(175, 117, 191, 0.857);   
    
    /* --color-transp :rgba(143, 96, 191, 1); */
    --color-transp-secundario:rgba(119, 222, 226, 0.431);
    --color-menu:rgba(68, 119, 158, 0.695) ;

    --color-btn:#054f5e;
    --color-btn-secundario:#26a4bd;
    
/* Color Theme Swatches in RGBA */
.Landscape-on-a-frosty-morning-1-rgba { color: rgba(175, 117, 191, 1); }
.Landscape-on-a-frosty-morning-2-rgba { color: rgba(143, 96, 191, 1); }
.Landscape-on-a-frosty-morning-3-rgba { color: rgba(79, 94, 140, 1); }
.Landscape-on-a-frosty-morning-4-rgba { color: rgba(163, 176, 217, 1); }
.Landscape-on-a-frosty-morning-5-rgba { color: rgba(201, 211, 242, 1); }


}


html {
    box-sizing: border-box;
    font-family: var(--main-font);
    font-size: var(--font-size);
    scroll-behavior: smooth;
    }
    
    *,
    *:before,
    *:after {
    box-sizing: inherit;
    }
    
    img,
    video {
    max-width: 100%;
    height: auto;
    }

body{   
    max-width: 100vw;
    margin: 0;
    overflow-x: hidden;

    font-family: var(--font-principal);
    color:var(--font-color-principal);
    background-image: url('/assets/img/fondoazul.jpg');
    border-image-repeat: none;
    background-attachment: fixed;
    background-color: var(--color-fondo-oscuro);

}

a{
    text-decoration: none;
    color: var(--font-color-principal);
}




/*estilos  generales*/


.contenedorPrincipal {
	width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 900;

	display: grid;
	grid-gap: 1.25em;
	grid-template-columns: 10% 80% 10%;
	grid-template-rows: 7fr 4fr 2fr 1fr;
	grid-template-areas:
		'encabezado		encabezado 	encabezado'
        'acercaDeMi     acercaDeMi  acercaDeMi'
		'proyectos		proyectos 	proyectos'		
        'experiencia    experiencia experiencia'
        'educacion      educacion   educacion'
		'footer	 		footer 		footer';
}

/* titulos de todas las secciones */
.titlePrincipal{
    font-size: var(--font-size-subtitle);
    text-align: center;
    border-bottom: 5px solid #000;
}

/* botones principales */
.btn{
    background-color: var(--color-btn);
    border: 2PX solid #054f5e;
    border-radius: 25px;
    width: auto;
    cursor: pointer;
    
    width: auto;
    padding: 10px;
    margin: 5px;
    
}

.btn_volverArriba {
    position: fixed;
    top: 90vh;
    bottom: 10vh;
    left: 10vw;
    z-index: 999;

    display: flex;
    justify-self: center;
    align-items: center;

    width: auto;
    padding: 20px;

    /* text-align: center; */
}


/* secciones */
.section{
    background-color: var(--color-secciones);
}

